<p><%= @email %></p>
<p><%= @name %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 LightGoldenrodYellow">
      <p>
        Etiam hendrerit, odio eu sodales facilisis, tortor orci lacinia metus, 
        at scelerisque ligula purus ac turpis. Sed vulputate interdum lacus ut 
        pretium. Sed posuere a ex in aliquet. Quisque egestas arcu est, vel 
        euismod odio suscipit et. Fusce viverra mi non lectus bibendum, eu 
        mollis felis placerat. Nam aliquet lacus quis erat dapibus ultrices. 
      </p>
    </div>
    <div class="col-md-3 LightSalmon">
      <p>
        Etiam hendrerit, odio eu sodales facilisis, tortor orci lacinia metus, 
        at scelerisque ligula purus ac turpis. Sed vulputate interdum lacus ut 
        pretium. Sed posuere a ex in aliquet. Quisque egestas arcu est, vel 
        euismod odio suscipit et. Fusce viverra mi non lectus bibendum, eu 
        mollis felis placerat. Nam aliquet lacus quis erat dapibus ultrices. 
      </p>
    </div>
    <div class="col-md-3 DeepPink">
      <p>
        Etiam hendrerit, odio eu sodales facilisis, tortor orci lacinia metus, 
        at scelerisque ligula purus ac turpis. Sed vulputate interdum lacus ut 
        pretium. Sed posuere a ex in aliquet. Quisque egestas arcu est, vel 
        euismod odio suscipit et. Fusce viverra mi non lectus bibendum, eu 
        mollis felis placerat. Nam aliquet lacus quis erat dapibus ultrices. 
      </p>
    </div>
    <div class="col-md-3 MediumVioletRed">
      <p>
        Etiam hendrerit, odio eu sodales facilisis, tortor orci lacinia metus, 
        at scelerisque ligula purus ac turpis. Sed vulputate interdum lacus ut 
        pretium. Sed posuere a ex in aliquet. Quisque egestas arcu est, vel 
        euismod odio suscipit et. Fusce viverra mi non lectus bibendum, eu 
        mollis felis placerat. Nam aliquet lacus quis erat dapibus ultrices. 
      </p>
    </div>
  </div>
</div>