/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap/scss/bootstrap';

//colors list
$black: #000;
$white: #fff;
$LightGoldenrodYellow-color: #FAFAD2;
$LightSalmon-color: #FFA07A;
$DeepPink-color: #FF1493;
$MediumVioletRed-color: #C71585;
$Turquoise-color: #40E0D0;

$color-classes : (
  title: $black,
  background: $white,
  LightGoldenrodYellow: $LightGoldenrodYellow-color,
  LightSalmon: $LightSalmon-color,
  DeepPink: $DeepPink-color,
  MediumVioletRed: $MediumVioletRed-color,
  Turquoise: $Turquoise-color
);

body { 
  background-color: $white;
}

@each $class_name, $color in $color-classes {
  .#{$class_name}{
    background-color: $color;
  }
  .#{$class-name}-text {
    color: $color;
  }
}

.list-group {
  margin-bottom: 10px;
}