<div class="col-md-3">
  <div class="jumbotron LightGoldenrodYellow">
    <h2><%= category.name %></h2>
    <p>
      Ea labore tempor culpa pariatur sunt ad ipsum. Qui ad adipisicing 
      labore velit cupidatat ad velit cupidatat. Cupidatat reprehenderit 
      officia magna amet cillum Lorem nostrud anim enim sit qui tempor 
      anim incididunt. Irure esse do pariatur velit ea magna adipisicing 
      officia elit dolor. Non elit est non consectetur laborum do fugiat 
      exercitation nostrud do Lorem labore consectetur. Non cillum qui 
      aliqua dolore anim. 
    </p>
  </div>
</div>